* {
  box-sizing: border-box;
}

body {
  background-color: #a164df;
  font-family: "Roboto" sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 78vh;
  overflow: hidden;
  margin: 0;
}

.head_h1 {
  transition: 0.8s cubic-bezier(0.68, -0.03, 0.38, 0.43);
  letter-spacing: 2px;
  color: #3f2d52;
  font-size: 35px;
  cursor: context-menu;
}

.head_h1:hover {
  font-size: 40px;
  letter-spacing: 8px;
  color: #fff;
}

.btn {
  background-color: #663399;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  transition: 0.9s;
}

.btn:hover {
  opacity: 0.9;
  cursor: cell;
  font-size: 22px;
}

.btn:focus {
  outline: none;
}